<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>ExperimentBackbone</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One|Faster+One' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->

    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header>
      <h1>Fast Cars</h1>
    </header>
    <div class="sortBox">
      <span>Sort by: </span>
      <span><a href="#/sort/name">Name</a></span>
      <span><a href="#/sort/make">Make</a></span>
      <span><a href="#/sort/model">Model</a></span>
      <span><a href="#/sort/topSpeed">Top Speed</a></span>
    </div>
    <div class="cars-list">
      <div id="carContainer"></div>
    </div>
    <div class="background-container"></div>
    <div class="addCarButton"><a href="#/add">+</a></div>

    <script type="text/template" id="addCars">
      <li id="<%= _id %>" class="car">
        <ul class="carDetails">
          <li class="detail">Name: <input type = "text" id="name"></input></li>
          <li class="detail">Make: <input type = "text" id="make"></input></li>
          <li class="detail">Model: <input type = "text" id="model"></input></li>
          <li class="detail">Top Speed: <input type = "text" id="topSpeed"></input></li>
          <li class="detail">Image Source: <input type = "text" id="imgSrc"></input></li>
          <li class="detail">Description: <textarea id="description"></textarea></li>
        </ul>
        <button id="addCar">Add New Fast Car</button>
        <button><a id="cancelButton" href="#/">Cancel</a></button>
      </li>
    </script>

    <script type="text/template" id="cars">
      <li class="car"><a href="#/edit/<%= _id %>">
        <ul class="carDetails">
          <li class="image"><img src="<%= imgSrc %>"></li>
          <li class="detail">Name: <%= name %></li>
          <li class="detail">Make: <%= make %></li>
          <li class="detail">Model: <%= model %></li>
          <li class="detail">Top Speed: <%= topSpeed %></li>
          <li class="description"><%= description %></li>
        </ul>
        <button id="<%= _id %>" class="removeBtn">Remove the Car</button>
        </a>
      </li>
    </script>

    <script type="text/template" id="singleCarTemplate">
        <li id="<%= _id %>" class="car">
          <ul class="carDetails">
            <li class="detail">Name: <input type = "text" id="update_name" value="<%= name %>"></input></li>
            <li class="detail">Make: <input type = "text" id="update_make" value="<%= make %>"></input></li>
            <li class="detail">Model: <input type = "text" id="update_model" value="<%= model %>"></input></li>
            <li class="detail">Top Speed: <input type = "text" id="update_topSpeed" value="<%= topSpeed %>"></input></li>
            <li class="detail">Description: <textarea id="update_description"><%= description %></textarea></li>
            <li class="detail">Image Source: <input type = "text" id="update_imgSrc" value="<%= imgSrc %>"></input></li>
          </ul>
          <button id="updateCar">Update Car Details</button>
          <button><a id="cancelButton" class="cancel" href="#/">Cancel</a></button>
        </li>
    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/setup.js"></script>
        <script src="scripts/models/car_model.js"></script>
        <script src="scripts/collections/car_collection.js"></script>
        <script src="scripts/views/car_view.js"></script>
        <script src="scripts/views/add_car_view.js"></script>
        <script src="scripts/views/single_car_view.js"></script>
        <script src="scripts/routes/app_router.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
