<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>ExperimentBackbone</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="cars-list">
      <h1>A list of Cars</h1>
      <form id="addCarForm">
          <span> Car Name: </span><input type="text" id="name"/>
          <span> Car Make: </span><input type="text" id="make" />
          <span> Car Model: </span><input type="text" id="model"/>
          <span> Car Image Source: </span><input type="text" id="imgSrc"/>
          <button>Add the Car</button>
      </form>
      <ul id="coolCars">
      </ul>
    </div>

    <script type="text/template" id="carTemplate">
    <li id="<%= _id %>">
      <ul class="carDetails">
        <li><img src="<%= imgSrc %>"></li>
        <li>Name: <%= name %></li>
        <li>Make: <%= make %></li>
        <li>Model: <%= model %></li>
      </ul>
        <button id="<%= _id %>" class="removeBtn">Remove the Car</button>
      </li>
    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/models/car_model.js"></script>
        <script src="scripts/collections/car_collection.js"></script>
        <script src="scripts/views/car_view.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
